<div [formGroup]="todoForm">
  <mat-form-field>
    <input matInput type="text" placeholder="Task name" #taskName autocomplete="off" formControlName="taskName" id="taskName" required>
    <mat-error *ngIf="hasError('taskName', 'required')">Name is required</mat-error>
  </mat-form-field>
  <button mat-mini-fab color="primary" (click)="addTask(taskName)"
          [disabled]="!todoForm.valid"
          aria-label="Example icon button with a menu icon">
    <mat-icon>add_task</mat-icon>
  </button>
</div>
<mat-error *ngIf="this.error">No duplicates allowed</mat-error>
<div class="tasks-wrapper">
  <ng-container *ngFor="let item of list let i = index">
    <mat-card class="task-card">
      <div class="task-controls">
        <mat-button-toggle-group appearance="legacy" name="status" [(ngModel)]="item.status" aria-label="Task Status">
          <mat-button-toggle
            (click)="changeTaskStatus(i, item.status)"
            value="To Do"
            class="todo">To Do</mat-button-toggle>
          <mat-button-toggle
            (click)="changeTaskStatus(i, item.status)"
            class="started"
            value="Started">Started</mat-button-toggle>
          <mat-button-toggle
            (click)="changeTaskStatus(i, item.status)"
            class="done"
            value="Done">Done</mat-button-toggle>
        </mat-button-toggle-group>
        <button mat-icon-button class="delete-button" color="primary" (click)="deleteTask(i)" aria-label="delete task">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="title">{{ item.name }}</div>
    </mat-card>
  </ng-container>

</div>
