.mat-button-toggle-checked{
  &.done {
    background-color: #27a822;
    color: white;
  }
  &.todo {
    background-color: #1476f5;
    color: white;
  }
  &.started {
    background-color: #f9ed17;
  }
}

.tasks-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.task-card {
  max-width: 400px;
  min-width: 300px;
  margin: 5px 5px 0 0;
  .task-controls {
    display: flex;
    justify-content: space-between;
  }
  .delete-button {
    width: 24px;
  }
  .mat-button-toggle-group {
    height: 36px;
  }
  .title {
    font-weight: bold;
    margin-top: 10px;
    font-size: 1em;
  }
}


