<!-- Toolbar -->
<div class="toolbar" role="banner">
  <mat-icon aria-hidden="true">eco</mat-icon>
  <span>Test app</span>
  <mat-nav-list class="list-horizontal">
    <ng-container>
      <a mat-list-item [routerLink]="['/devices']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon aria-hidden="true">devices</mat-icon>
        Devices
      </a>
      <a mat-list-item [routerLink]="['/todo']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon aria-hidden="true">dashboard_customize</mat-icon>
        Todo
      </a>
      <a mat-list-item [routerLink]="['/movies']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon aria-hidden="true">local_movies</mat-icon>
        Movies
      </a>
    </ng-container>
  </mat-nav-list>
</div>

<section class="content">
  <router-outlet></router-outlet>
</section>

