.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1476f5;
  padding: 3px;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.toolbar mat-nav-list a.active {
  font-weight: bold;
  background-color: rgba(0,0,0,.1);
}

:host .mat-list-base {
  padding-top: 0;
  .mat-list-item {
    color: white;
  }
}

mat-nav-list.list-horizontal {
  display: flex;
  flex-direction: row;
}

mat-nav-list mat-icon {
  margin-right: 3px;
}

mat-nav-list {
  margin-left: 10px;
}

@media (max-width: 400px) {
  .mat-list-base .mat-list-item {
    font-size: 10px;
  }
}

.content {
  margin-top: 70px;
  padding: 10px;
}
