table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #999;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.switch-button {
  margin-bottom: 10px;
}

.filter {
  margin-right: 25px;
}
