<button mat-raised-button class="switch-button" color="primary" (click)="switchView()" aria-label="switch view">
  <mat-icon>change_circle</mat-icon>
  <span>Switch view(table or grid)</span>
</button>

<!-- Table view-->
<mat-card *ngIf="display === 'table'">
  <mat-form-field>
    <input matInput type="text" (keyup)="filter($event.target.value)" placeholder="Filter by name" autocomplete="off">
  </mat-form-field>
  <table mat-table [dataSource]="deviceData" matSort class="mat-elevation-z8" [hidden]="!deviceData">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>

<!-- Grid view-->
<mat-card *ngIf="display === 'grid' && deviceData.filteredData">
  <div>
    <mat-form-field class="filter">
      <input matInput type="text" (keyup)="filter($event.target.value)" placeholder="Filter by name" autocomplete="off">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Sorting</mat-label>
      <mat-select [(ngModel)]="selectedSorting"
                  (selectionChange)="sortData()"
                  name="food">
        <mat-option [value]="{columnName: 'price', order: 'asc'}">Price asc</mat-option>
        <mat-option [value]="{columnName: 'price', order: 'desc'}">Price desc</mat-option>
        <mat-option [value]="{columnName: 'type', order: 'asc'}">Type asc</mat-option>
        <mat-option [value]="{columnName: 'type', order: 'desc'}">Type desc</mat-option>
        <mat-option [value]="{columnName: 'name', order: 'asc'}">Name asc</mat-option>
        <mat-option [value]="{columnName: 'name', order: 'desc'}">Name desc</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="wrapper">
    <div *ngFor="let device of deviceData.filteredData" class="box">
      <div>{{device.name}}</div>
      <div>{{device.type}}</div>
      <div>{{device.price}}</div>
    </div>
  </div>
</mat-card>
